# {{ ansible_managed }}

infra-master ansible_host={{ hostvars[inventory_hostname]['ansible_' + bridge_itf | replace('-', '_') ]['ipv4']['address'] }}

osa-master ansible_host={{ osa_master_ip }}

[osa-nodes]
{% for name in osa_nodes %}
{{ name }} ansible_host={{ hostvars[inventory_hostname].registered_status.json.get(name).get('extra/all/interfaces/eth0/ip') }}
{% endfor %}

[all:vars]
ansible_user=vagrant
proxy_host={{ hostvars[inventory_hostname]['ansible_' + bridge_itf | replace('-', '_') ]['ipv4']['address'] }}
external_public_vip_address={{ ext_pub_vip_addr }}
internal_public_vip_itf={{ int_pub_vip_itf }}
internal_public_vip_address={{ int_pub_vip_addr }}
{% if real_baremetal is defined and real_baremetal | bool %}
osa_master_runs_on_osa_node=True
{% endif %}
{% if openstack_release is defined and openstack_release | length > 0 %}
openstack_release={{ openstack_release }}
{% endif %}
force_partitioning={{ no_templated_partitioning | default(true) | bool }}
force_networking={{ no_templated_networking | default(true) | bool }}
{% if base_system_disk_device is defined and base_system_disk_device | length > 0 %}
base_system_disk_device={{ base_system_disk_device }}
{% endif %}
{% if base_system_disk_space is defined and base_system_disk_space | float > 0.0 %}
base_system_disk_space={{ base_system_disk_space }}
{% endif %}
{% if osa_partition_size is defined and osa_partition_size | float > 0.0 %}
osa_partition_size={{ osa_partition_size }}
{% endif %}
{% if osa_logs_partition_size is defined and osa_logs_partition_size | float > 0.0 %}
osa_logs_partition_size={{ osa_logs_partition_size }}
{% endif %}
{% if lxc_partition_size is defined and lxc_partition_size | float > 0.0 %}
lxc_partition_size={{ lxc_partition_size }}
{% endif %}
{% if storage_partition_size is defined and storage_partition_size | float > 0.0 %}
storage_partition_size={{ storage_partition_size }}
{% endif %}
{% if compute_partition_size is defined and compute_partition_size | float > 0.0 %}
compute_partition_size={{ compute_partition_size }}
{% endif %}
{% if swap_partition_size is defined and swap_partition_size | float > 0.0 %}
swap_partition_size={{ swap_partition_size }}
{% endif %}
