# {{ ansible_managed }}

infra-master ansible_host={{ infra_master_ip }}

osa-master ansible_host={{ osa_master_ip }}

[osa-nodes]
{% for name in osa_nodes %}
{{ name }} ansible_host={{ hostvars[inventory_hostname].registered_status.json.get(name).get('extra/all/interfaces/eth0/ip') }}
{% endfor %}

[all:vars]
ansible_user=vagrant
proxy_host={{ hostvars[inventory_hostname]['ansible_' + bridge_itf | replace('-', '_') ]['ipv4']['address'] }}
external_public_vip_address={{ ext_pub_vip_addr }}
internal_public_vip_itf={{ int_pub_vip_itf }}
internal_public_vip_address={{ int_pub_vip_addr }}
{% if real_baremetal is defined and real_baremetal | bool %}
osa_master_runs_on_osa_node=True
{% endif %}
