- description: "{{ description }}"
  conditions:
    - op: "is-empty"
      field: "node://driver_info"
  actions:
    - action: "set-attribute"
      path: "/driver_info/deploy_kernel"
      value: "{{ ironic_deploy_kernel }}"
    - action: "set-attribute"
      path: "/driver_info/deploy_ramdisk"
      value: "{{ ironic_deploy_ramdisk }}"
