- description: "Set initial instance_info if not defined on node"
  conditions:
    - op: "is-empty"
      field: "node://instance_info"
  actions:
    - action: "set-attribute"
      path: "/instance_info/kernel"
      value: "{{ ironic_image_kernel }}"
    - action: "set-attribute"
      path: "/instance_info/ramdisk"
      value: "{{ ironic_image_ramdisk }}"
    - action: "set-attribute"
      path: "/instance_info/image_source"
      value: "{{ ironic_image_qcow2 }}"
    - action: "set-attribute"
      path: "/instance_info/image_checksum"
      value: "{{ ironic_image_checksum }}"
    - action: "set-attribute"
      path: "/instance_info/root_gb"
      value: "{{ ironic_root_size }}"
