# {{ ansible_managed }}
- description: "{{ description }}"
  conditions:
    - op: "is-empty"
      field: "node://instance_info"
  actions:
    - action: "set-attribute"
      path: "/instance_info/image_type"
      value: "whole_disk"
    - action: "set-attribute"
      path: "/instance_info/image_source"
      value: "{{ ironic_image_qcow2 }}"
    - action: "set-attribute"
      path: "/instance_info/image_checksum"
      value: "{{ ironic_image_checksum }}"
    - action: "set-attribute"
      path: "/instance_info/root_gb"
      value: "{{ ironic_root_size }}"
