# {{ ansible_managed }}
- local_loop:
    name: image0
- partitioning:
    base: image0
    label: {{ dibblockdevice }}
    partitions:
{% if dibblockdevice == 'gpt' %}
      - name: BSP
        type: 'EF02'
        size: 8MiB
{% endif %}
      - name: root
{% if dibblockdevice == 'gpt' %}
        flags: [ boot ]
{% else %}
        flags: [ boot,primary ]
{% endif %}
        size: {{ root_fs_size_gb | default(6) }}G
        mkfs:
          type: {{ root_fs_type | default('xfs') }}
          label: "img-rootfs"
          mount:
            mount_point: /
            fstab:
              options: "rw,relatime"
              fck-passno: 1
      - name: tmp
        size: {{ tmp_fs_size_gb | default(1) }}G
        mkfs:
          type: {{ tmp_fs_type | default('xfs') }}
          mount:
            mount_point: /tmp
            fstab:
              options: "rw,nosuid,nodev,noexec,relatime"
      - name: var
        size: {{ var_fs_size_gb | default(7) }}G
        mkfs:
          type: {{ var_fs_type | default('xfs') }}
          mount:
            mount_point: /var
            fstab:
              options: "rw,relatime"
      - name: log
        size: {{ log_fs_size_gb | default(5) }}G
        mkfs:
          type: {{ log_fs_type | default('xfs') }}
          mount:
            mount_point: /var/log
            fstab:
              options: "rw,relatime"
